<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-client [client]="updatedCli" (clientUpdated)= "clientUpdated($event)" [ajout]="ajout"></app-update-client>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom </th>
                        <th>Email</th>
                    </tr>
                </thead>
                @for(cli of clients; track cli.idClient)
                {
                <tbody>
                    <tr>
                        <td>{{cli.idClient}}</td>
                        <td>{{cli.nomCli}}</td>
                        <td>{{cli.email}}</td>
                        <td><a class="btn btn-success" (click)="updateCli(cli)">Editer</a></td>
                    </tr>
                </tbody>
                }
            </table>
        </div>
    </div>
</div>